@{
    ViewData["Title"] = "Adopt";
}

<h1 class="Titulo">Adopt your Pet</h1>

<section class="row rowCard">


    <div class="col-lg-3 h-100 card-col">
        <div class="card">
            <img src="/img/esperto.png" class="card-img-top" alt="cardImage">
            <div class="card-body">
                <h5 class="card-title">Esperto</h5>
                <p class="card-text">Male</p>
                <p class="card-text">2 Months Old</p>
                <p class="card-text">Wants a new home</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 h-100 card-col">
        <div class="card">
            <img src="/img/bella.png" class="card-img-top" alt="cardImage">
            <div class="card-body">
                <h5 class="card-title">Bella</h5>
                <p class="card-text">Female</p>
                <p class="card-text">1 Year Old</p>
                <p class="card-text">Loves affection</p>
            </div>
        </div>

    </div>


    <div class="col-lg-3 h-100 card-col">
        <div class="card">
            <img src="/img/zara.png" class="card-img-top" alt="cardImage">
            <div class="card-body">
                <h5 class="card-title">Zara</h5>
                <p class="card-text">Female</p>
                <p class="card-text">2 Years Old</p>
                <p class="card-text">Needs attention</p>
            </div>
        </div>
    </div>


</section>

<section class="testimonial">
    <div div id="testimonial-carousel" class="carousel slide" data-ride="false">

        <div class="carousel-inner">

            <div class="carousel-item active">
                    <h2 class="testimonial-text">I love the cuddles from the H-Petz team. Poliana is extremely friendly with me. I still get a little snack at the end of the consultation. Wow!</h2>
                    <img class="testimonial-img" src="/img/dog-img.jpg" alt="dog-profile">
                    <em>Dexter, Brazil</em>    
            </div>

            <div class="carousel-item">
                <h2 class="testimonial-text">The care they have is wonderful, my dogs love going to H-Petz. Recommend to everyone who wants their best friend happy.</h2>
                <img class="testimonial-img" src="/img/lady-img.jpg" alt="lady-profile">
                <em>Irene, Québec</em>
            </div>

        </div>

        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</section>
