@{
    ViewData["Title"] = "Home";
}

<div>

    <h1>@ViewData["Title"]</h1>

<section>
    <div class="row">
        <div class="col-lg-6">
            <img class="figuraPrincipal" src="/img/fachada-pet.png" alt="SobreImg">
        </div>
        <div class="col-lg-6">
            <h2 class="principal">Welcome to a community Hyper passionate about Animals!!!</h2>
        </div>
    </div>
</section>
   
<section class="love-Section">
    <div class="row">
      <div class="col-lg-4 caixaPrincipal">
        <img class="img" alt="img" src="/img/Amor.png"></img>
        <h4>Love moves us!</h4>
        <p>We are in love with animals. We take care of it with a lot of love and affection.</p>

      </div>

      <div class="col-lg-4 caixaPrincipal">
        <img class="img" alt="img" src="/img/Cuidado.png"></img>
        <h4>Care and affection.</h4>
        <p>Commitment to your best friends.</p>

      </div>

      <div class="col-lg-4 caixaPrincipal">
        <img class="img" alt="img" src="/img/Carinho.png"></img>
        <h4>Kindness</h4>
        <p>Attention to those who bring us happiness.</p>

      </div>
    </div>
</section>


</div>