<div class="container">

    <h1 class="Titulo">About H-Petz</h1>

    <div class="sobreBody">

        <section class="row sobre">

            <div class="col-lg-4 align-center">
                <img class="sobreHistoria img-fluid" src="/img/h_petzSobre.png" alt="SobreImg">
            </div>

            <div class="col-lg-8">
                <h3>A Petz that Hyper loves Pets</h3>
                <p>
                    Always passionate about dogs and cats, we never found ourselves wanting to work with anything that wasn't related to the care and well-being of animals. We started with animal protection work, bathing, treating and feeding them. Today we can follow our dreams and distribute affection to more animals.
                </p>
            </div>

        </section>

        <hr class="hrdot">

        <section class="row sobre">

            <div class="col-lg-8">
                <h3>Join Us</h3>
                <p>
                    Discover our field of adoption or get in touch to collaborate with our philanthropic work. We count on your help!!!
                </p>
            </div>
            <div class="col-lg-4">
                <img class="sobreJuntar img-fluid" src="/img/cat_dog.png" alt="sobreJuntar">
            </div>

        </section>
    </div>


</div>