@model Cadastro
@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <div class="row">
        <div class="Agendamento col-lg-3 col-md">
            <form class="AgendamentoForm" method="POST" asp-action="Login">

                <h1 class="Titulo">Login</h1>

                <div class="form-group">
                    <label asp-for=" Login" class="TextoForm">Login</label>
                    <input asp-for="Login" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for=" Senha" class="TextoForm">Password</label>
                    <input asp-for="Senha" type="password" class="form-control">
                </div>

                <div>
                    <input class="btn btn-success btn-lg" type="submit" value="Send">
                </div>


            </form>

            <p class="text-danger">
                @ViewBag.Mensagem
            </p>

        </div>
    </div>
</div>